:root {
  --dark-grey-80: #464646;
  --dark-grey-40: #ACACAC;
  --dark-grey-20: #D7D7D7;
  --primary: #C6007F;
  --primary-40: #E899CB;
  --blue-20: #E1EDF1;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-family: "libre franklin", sans-serif;
  font-weight: 400;
  color: var(--dark-grey-80);
  background-color: var(--blue-20);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  scroll-margin-top: 200px;
}

h1,
h2 {
  font-family: "Segoe Script";
  font-size: 30px;
  color: var(--primary);
}

h3 {
  font-family: "libre franklin", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: var(--dark-grey-80);
}

h4 {
  margin-top: 1rem;
}

p {
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.625rem;
}

a {
  text-decoration: inherit;
  color: inherit;
}

nav {
  height: 110px;
  background-color: #fff;
  padding: 18px 16px;
  display: flex;
  box-sizing: border-box;
}

main {
  padding: 0 1rem 2rem;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 48px;
}

.progress-navigation-wrapper {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 700;
  background-color: #fff;
  border-radius: 16px;
}

.progress-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sticky .progress-navigation {
  gap: 8px;
}

.list-item {
  display: flex;
  flex-direction: row;
  gap: 14px;
  justify-content: start;
  align-items: flex-start;
}

.sticky .bar-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  height: 42px;
}

.sticky .bar {
  flex-grow: 1;
  height: 3px;
  background-color: var(--dark-grey-40);
}

.sticky .bar.active {
  background-color: var(--primary);
}

.list-item-number {
  font-size: 20px;
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 3px solid var(--primary-40);
  color: #fff;
  background-color: var(--primary-40);
  border-radius: 50%;
  box-sizing: border-box;
}

.list-item-label {
  font-size: 20px;
  line-height: 42px;
}

.list-item-group {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.list-item-group ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list-item-group ul li {
  opacity: .65;
  font-weight: 400;
}

.list-item-group ul .sub-header {
  opacity: .85;
  font-weight: 700;
}

.list-item.finish {
  display: none;
}

.sticky .list-item.finish {
  display: flex;
}

.sticky .list-item.list-item.finish .list-item-number {
  background-color: #fff;
}

.sticky .list-item.list-item.finish.finished .list-item-number {
  background-color: var(--primary);
}

.progress-navigation-wrapper.sticky {
  position: sticky;
  top: 48px;
  padding-left: 80px;
  padding-right: 80px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, .15);
}

.progress-navigation-wrapper.sticky h1 {
  display: none;
}

.progress-navigation-wrapper.sticky .progress-navigation {
  flex-direction: row;
  justify-content: space-between;
}

.progress-navigation-wrapper.sticky .list-item {
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 42px;
  white-space: nowrap;
}

.progress-navigation-wrapper.sticky .list-item-label {
  line-height: 1;
  font-size: 16px;
  color: var(--dark-grey-40);
}

.progress-navigation-wrapper.sticky .list-item ul {
  display: none;
}

.list-item.active .list-item-number {
  border-color: var(--primary);
  background-color: #fff;
  color: var(--primary);
}

.list-item.active .list-item-label {
  color: var(--primary);
}

.list-item.finished .list-item-number {
  border-color: var(--primary);
  background-color: var(--primary);
  color: #fff;
  content: url(img/tick.svg);
  padding: 1px 5px 5px;
}

.list-item.finished .list-item-label {
  color: var(--primary-40);
}

section {
  background-color: #fff;
  margin-top: 48px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.content {
  padding: 64px 40px 0;
  max-width: 828px;
  box-sizing: border-box;
}

.hero img {
  max-width: 100%;
}

.button {
  padding: .82rem 2rem;
  padding-bottom: .82rem !important;
  border-bottom: none !important;
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  border: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  line-height: normal !important;
  border-radius: 1.4rem;
  background-color: #fff;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-color: var(--primary);
}

.button:hover {
  background-color: #C7538C;
  box-shadow: 0.5rem 0.5rem 0.875rem 0 rgba(0, 0, 0, 0.16);
}

@media (max-width: 767px) {
  nav {
    height: 50px;
    padding: 0;
  }

  nav img {
    height: 2.5rem;
    margin: .3rem 0 0 1rem;
  }

  h1,
  h2 {
    font-size: 1.375rem;
  }

  h3 {
    font-size: 1.65rem;
    line-height: 2.2rem;
  }

  h1,
  h2,
  h3 {
    scroll-margin-top: 100px;
  }

  p {
    font-size: .875rem;
    line-height: 1.5rem;
  }

  .container {
    padding-top: 12px;
  }

  .progress-navigation-wrapper,
  .progress-navigation-wrapper.sticky {
    padding: 16px;
  }

  .progress-navigation {
    gap: 12px;
  }

  .sticky .progress-navigation {
    gap: 0px;
  }

  .progress-navigation-wrapper.sticky {
    top: 12px;
  }

  .progress-navigation-wrapper.sticky .list-item {
    gap: 0;
  }

  .progress-navigation-wrapper.sticky .list-item-label {
    display: none;
  }

  .sticky .bar-wrapper {
    height: 36px;
    gap: 0px;
  }

  .list-item-number {
    height: 36px;
    width: 36px;
    font-size: 1rem;
  }

  .list-item-label {
    font-size: 16px;
    line-height: 36px;
  }

  .list-item-group {
    gap: 0px;
  }

  .list-item-group ul {
    font-size: 14px;
  }

  section {
    margin-top: 20px;
    padding-bottom: 12px;
  }

  .content {
    padding: 16px;
  }
}